.contact-section {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.contact-container {
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
    overflow: hidden;
}

.contact-form-wrapper {
    flex: 0.75;
    background: #100d25;
    /* black-100 */
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #2b2b2b;
}

.contact-form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-label {
    display: flex;
    flex-direction: column;
}

.label-text {
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
}

.form-input {
    background: #151030;
    /* tertiary */
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    font-weight: 500;
}

.form-input::placeholder {
    color: #aaa6c3;
    /* secondary */
}

.submit-btn {
    background: #151030;
    padding: 0.75rem 2rem;
    outline: none;
    width: fit-content;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid #915eff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.submit-btn:hover {
    background: #915eff;
}

.contact-earth-wrapper {
    flex: 1;
    height: auto;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column-reverse;
    }
}