.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.hero-container {
    padding: 0 1.5rem;
    position: absolute;
    top: 120px;
    max-width: 80rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    z-index: 10;
    pointer-events: none;
}

/* Enable pointer events on text and image */
.hero-head,
.hero-img-container {
    pointer-events: auto;
}

.hero-head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.hero-line-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}

.hero-dot {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #915eff;
}

.hero-line {
    width: 0.25rem;
    height: 20rem;
    background: linear-gradient(to bottom, #915eff, transparent);
}

.hero-title {
    font-weight: 900;
    color: white;
    font-size: 40px;
    line-height: normal;
    margin-top: 0.5rem;
}

.hero-title .text-accent {
    color: #915eff;
}

.hero-subtitle {
    color: #dfd9ff;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0.5rem;
}

.hero-img-container {
    display: none;
    /* Hide on mobile by default */
}

.hero-main-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #7c25ff;
    box-shadow: 0 0 30px rgba(145, 94, 255, 0.6);
    transform: translateX(35px);
}

.hidden-mobile {
    display: none;
}

.scroll-indicator {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.scroll-btn {
    width: 35px;
    height: 64px;
    border-radius: 3rem;
    border: 4px solid #aaa6c3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    cursor: pointer;
}

.scroll-dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #aaa6c3;
}

@media (min-width: 640px) {
    .hero-container {
        padding: 0 4rem;
    }

    .hero-title {
        font-size: 60px;
    }

    .hero-subtitle {
        font-size: 26px;
    }

    .hero-img-container {
        display: block;
    }

    .hero-main-img {
        width: 300px;
        height: 300px;
    }

    .hidden-mobile {
        display: block;
    }
}

@media (min-width: 1024px) {
    .hero-title {
        font-size: 80px;
        line-height: 98px;
    }

    .hero-subtitle {
        font-size: 30px;
    }

    .hero-main-img {
        width: 400px;
        height: 400px;
    }
}